.navLink {
  &.empty {
    color: #aaa;
    &:hover {
      color: #888;
    }
  }

  &.notEmpty {
    color: #007bff;
    &:hover {
      color: #0056b3;
    }
  }

  &.active {
    background-color: #007bff !important;
    color: white !important;
    border-color: #007bff !important;
    &:hover {
      color: #f8f9fa !important;
    }
  }
}

.tableContainer {
  max-height: 50vh;
  overflow-y: auto;
  border: 1px solid #dee2e6;

  table {
    margin-bottom: 0;

    thead {
      position: sticky;
      top: 0;
      background-color: white;
      z-index: 1;
      box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
    }
  }

  tr {
    border-width: 0px;
  }
}
